* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Garamond", sans-serif;
}

body {
  background-color: goldenrod;
}

.header {
  font-family: "Garamond", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin: 0.5em 0 1.0em 0;
}

.score {
  font-family: "Garamond", sans-serif;
  display: flex;
  justify-content:center;;
  font-size: 1.2em;
}

#wordSpotlight {
  font-size: 1.5em;
  padding: 0.5em 1em;
  background-color: #f4c531;
  border: 3px solid #000000;
  color: #000000;
  border-radius: 0.2em;
}
